.arrow-down{
    position: absolute;
    top: 4px;
    transform: translateX(-44px);
    transition: transform 200ms ease-in-out;
}
/*O couchete é uma forma de fazer celetores baseados em atributo*/
.arrow-down[data-currentPlayer="2"]{
    transform: translateX(44px);
}