:root {
    --color-card: #051932;
    --color-pomb-end-power:#7c5e99;
    --color-floral-white: #fffcee;/*Não sei o motivo(mas provavelmente é a biblioteca) de não precisar usar os mesmo códigos que o vídeo*/
    --color-fiery-rose: #f25a70;

}